*{
  box-sizing: border-box;
}

img{
  display: block;
  width: 100%;
}

body {
  margin:0;
  font-family:Georgia, Geneva;
}
/* styling the top heading*/
.article-layout h2{
  font-size:1.25rem;
  font-weight: 300;
}
.company {
  text-decoration: underline;
  font-weight: 300;

}
.monotype {
  background-color: #333;
  color: #FBF9F1;
  font-weight: 400;
  font-family: Georgia;
  font-size:1.25rem;
}

.article-layout {
  background-color: #FBF9F1;
  font-family: Georgia;
  width: 800px;
  padding-left: 70px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.article-layout h1{
  font-size : 48px;
  font-weight: 400;
  font-family: monospace;
}
.blue-bold {
  font-weight:bold;
  color: #b5ccfd;
}
.list {
  font-weight: 600;
  margin:0;
  padding: 0;

}


ul li{
  display: block;
  font-family: Avenir;
  color: #66CC99;
  border: #ddd solid 1px;
}

.images img{
  width: 25px;
  height: 25px;
  display: inline-block;
  font-family: : Georgia & Geneva
}
